@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 1px solid red; */
}

html {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    scroll-behavior: smooth;
}

.grid {
    display: grid;
    place-items: center;
}

body {
    @extend .grid;
    min-height: 100vh;
    background-color: $light-grayish-cyan;
}

.logo {
    @extend .grid;
    margin: 1em 0 3em;
}

.container {
    display: grid;
    gap: 1.5rem;
    font-size: 0.9375rem;
    color: $dark-grayish-cyan;
    padding: 1.5rem;
    border-radius: 16px 16px 0 0;
    background-color: $white;    
}

.input {
    display: grid;
    gap: 1.5rem;
    padding: 0.5rem;
    
    .box {
        font: inherit;
        font-size: 1.5rem;
        padding: 0.4rem 0.8rem;
        width: 100%;
        text-align: right;        
        border: none;
        border-radius: 5px;
        background-color: $very-light-grayish-cyan;
        outline: none;
        
        :placeholder {
            color: $very-dark-cyan;
        }        
    }
    
    .input__bill {
        position: relative;
        display: grid;
        gap: 0.4em;
        
        img {
            position: absolute;
            top: 45px;
            left: 15px;
        }               
    }
    
    .input__select-tip {
        display: grid;
        gap: 1em;
        
        .tip-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            
            button {
                font: inherit;
                font-size: 1.5rem;
                color: $white;
                padding: 0.4rem 0.8rem;
                border: none;
                border-radius: 5px;
                background-color: $very-dark-cyan;
            }
        }
    }
    
    .input__people {
        position: relative;
        display: grid;
        gap: 0.4em;
        
        img {
            position: absolute;
            top: 45px;
            left: 15px;
        }
    }
}

.output {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: $very-dark-cyan;
    
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {   
             
            .title {
                color: $white;
            }
            
            .subtitle {
                font-size: 0.875rem;
            }                              
        }
        
        .amount {
            font-size: 1.8rem;
            color: $strong-cyan;
        }
            
        .total {
            font-size: 1.8rem;
            color: $strong-cyan;
        }      
    } 
    
    .reset-btn {
        font: inherit;
        font-size: 1.3rem;
        color: $very-dark-cyan;
        padding: 0.4rem 0.8rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        background-color: $strong-cyan;
    } 
}


